# Because this is a public fork, we use the public npm registry as default
registry=https://registry.npmjs.org

# Package feed of internal mobisys packages only
@mobisys-internal:registry=https://pkgs.dev.azure.com/mobisysgmbh/_packaging/mobisys-internal/npm/registry/
@teckel.ts-internal:registry=https://pkgs.dev.azure.com/mobisysgmbh/_packaging/mobisys-internal/npm/registry/

always-auth=true

# Mend only supports version 2
lockfile-version=2
